@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #151a14;
		--background: #f9fbf9;
		--primary: #41513e;
		--secondary: #a3b8ac;
		--accent: #597366;
	}
	.dark {
		--text: #e7ece6;
		--background: #050705;
		--primary: #b1c1ae;
		--secondary: #475d50;
		--accent: #8ba698;
	}
	* {
		@apply border-white/10;
	}
	body {
		@apply bg-background text-text;
	}
}
