*

!server/src
!server/bindings
!server/Cargo.lock
!server/Cargo.toml

!web/src
!web/static
!web/.npmrc
!web/package-lock.json
!web/package.json
!web/svelte.config.js
!web/tsconfig.json
!web/vite.config.ts
