---
import Layout from "~/layouts/Layout.astro";

const suggestedUsername = Astro.url.searchParams.get("suggested");
---

<Layout title="?">
  <form action={`${import.meta.env.PUBLIC_SERVER}/auth/choose-username`} method="post">
    <input type="text" name="username" value={suggestedUsername} />
    <button>submit</button>
  </form>
</Layout>
